<footer class="row">
	<div class="container">
		<div class="row">
			<div class="span2">
				<h3>Quick links</h3>
				<ul>
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "Features", features_path %></li>
					
				</ul>
			</div>
			<div class="span2">
				<br /><br />
			
			</div>
			<div class="span4 social-networks">
				<h3>Stay in touch</h3>
				<p>Stay in touch on social networks</p>
				
				<a href="http://www.twitter.com/getelevate" title="Follow us on Twitter" class="icon-twitter"></a>
				<a href="#" title="Follow us on Google Plus" class="icon-google-plus"></a>
				<a href="#" title="Follow us on Google Plus" class="icon-github"></a>
				<a href="#" title="Follow us on Google Plus" class="icon-pinterest"></a>
			</div>
			<div class="span4">
				<h3>Newsletter</h3>
				<p>Subscribe to our monthly newsletter and be the first to know about our news and special deals!</p>
				<form>
					<input type="text" placeholder="Enter your E-mail" />
					<input type="submit" class="btn" value="Ok" />
				</form>
			</div>
		</div> <!-- /row -->		
	</div> <!-- /container -->

<div id="footer-extra">
	<div class="container">
		<div class="row">
			<div class="span4">
				&copy; 2010—2012 Elevate Inc.
			</div>
			<div class="span4">
				<i class="icon-phone"></i> &nbsp; 
				416 464 6426
			</div>
			<div class="span4">
				<i class="icon-envelope"></i> &nbsp; 
				info@getelevate.com
			</div>
		</div> <!-- end .row -->		
	</div> <!-- end .container -->		
</div>


</footer>
